@{
    ViewBag.Title = "Details Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-primary">Superman [7/10]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 movie-simple">
            <img src="~/Content/superman.jpg" alt="Alternate Text" class="img-thumbnail thumb" />
        </div>
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc lacus, placerat eu pharetra nec, feugiat non massa. Sed semper lacinia orci nec commodo. Sed aliquam magna id accumsan eleifend. Aliquam rutrum, sapien sed viverra posuere, magna ligula consequat nunc, id vehicula sem odio fringilla quam. Fusce congue augue nec quam fringilla.</p>
            <p><b>Genre: Horror</b></p>
        </div>
    </div>
    <br />
    <div class="row">
        <h3 class="text-primary">Cast</h3>
        <div class="table-responsive table-striped">
            <table class="table">
                <thead>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Name0</td>
                        <td>Surname0</td>
                    <tr>
                    <tr>
                        <td>Name1</td>
                        <td>Surname1</td>
                    <tr>
</tbody>
            </table>
        </div> 
    </div>
</div>