@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Database</h1><br />
    @*<p class="lead">Please enter your search query.</p>*@
    <div class="form-group">
        <form>
            <input type="text" class="form-control" id="query" aria-describedby="query" placeholder="Enter query" name="query">
            <small id="help" class="form-text text-muted">Search for movie or director or actor.</small>
            <input type="submit" name="query"class="btn btn-primary btn-lg" />
        </form>
    </div>
    @*<p><a href="" class="btn btn-primary btn-lg">Search &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4 movie-simple">
        <h2 class="text-primary">Superman [7/10]</h2>
        <p><b>Genre: Horror</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc lacus, placerat eu pharetra nec, feugiat non massa. Sed semper lacinia orci nec commodo. Sed aliquam magna id accumsan eleifend. Aliquam rutrum, sapien sed viverra posuere, magna ligula consequat nunc, id vehicula sem odio fringilla quam. Fusce congue augue nec quam fringilla.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Details &raquo;</a></p>
        <img src="~/Content/superman.jpg" alt="Alternate Text" class="img-thumbnail thumb"/>
    </div>
    <div class="col-md-4 movie-simple">
        <h2 class="text-primary">Ironman [8.2/10]</h2>
        <p><b>Genre: Action</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc lacus, placerat eu pharetra nec, feugiat non massa. Sed semper lacinia orci nec commodo. Sed aliquam magna id accumsan eleifend. Aliquam rutrum, sapien sed viverra posuere, magna ligula consequat nunc, id vehicula sem odio fringilla quam. Fusce congue augue nec quam fringilla.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Details &raquo;</a></p>
        <img src="~/Content/ironman.jpg" alt="Alternate Text" class="img-thumbnail thumb"/>
    </div>
    <div class="col-md-4 movie-simple">
        <h2 class="text-primary">Black Panther [6/10]</h2>
        <p><b>Genre: Comedy, Romance</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc lacus, placerat eu pharetra nec, feugiat non massa. Sed semper lacinia orci nec commodo. Sed aliquam magna id accumsan eleifend. Aliquam rutrum, sapien sed viverra posuere, magna ligula consequat nunc, id vehicula sem odio fringilla quam. Fusce congue augue nec quam fringilla</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Details &raquo;</a></p>
        <img src="~/Content/blackpanther.jpg" alt="Alternate Text" class="img-thumbnail thumb"/>
    </div>
</div>